.div {
    text-align: center;
    border: 10;
    border-color: black;
    margin: 10;
}

.submit_form {
    margin: 10;
    text-align: center;
}

.submit_form_button {
    text-align: center;
    border: 10;
    border-color: black;
    margin: 10;
}